name: build and deploy java web app
on:
  workflow_dispatch:
jobs:
  build:
   runs-on: ubuntu-latest
   steps:
      - name: build webapp
        uses: actions/checkout@v3
      - name: install java
        uses: actions/setup-java@v1
        with:
             java-version: '11'
             distribution: 'adopt'
      - name: install maven
        run: mvn clean install -f MyWebApp/pom.xml
      - name: upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: java-app
          path: '${{github.workspace}}'
           
  
