name: build and deploy java web app
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
   runs-on: ubuntu-latest
   permissions:
     actions: read
     contents: read
     security-events: write
   strategy:
       fail-fast: false
       matrix:
         language: ['java']
       
   steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: install java
        uses: actions/setup-java@v1
        with:
             java-version: '11'
             distribution: 'adopt'
      - name: initiate codeQl scan
        uses: github/codeql-action/init@v3
        with:
          languages: ${{matrix.language}}
      - name: install maven
        working-directory: MyWebApp
        run: mvn clean install 
       
     # - name: codeql analysis
     #   uses: github/codeql-action/analyze@v3
        
      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: '${{github.workspace}}'
  deploy:
    needs: build
    environment:
      name: 'Production'
      url: ${{steps.deploy-to-azure.outputs.webappurl}}
    runs-on: ubuntu-latest
    steps:
      - name: download artifact
        uses: actions/download-artifact@v4
        with:
          name: java-app
      - name: deplopy to webapp
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: '${{secrets.AZURE_WEBAPP_NAME}}'
          slot-name: 'Production'
          publish-profile: '${{secrets.AZURE_WEBAPP_PUBLISH_PROFILE}}'
          package: '*.war'
      
    
           
  
