name: build and deploy
on:
  push:
    branches: main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup java
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: build the code
        run: mvn clean package -f MyWebApp/pom.xml
      - name: check jar file
        run: |
              cd MyWebApp
              ls target/
      - name: az login
        uses: azure/login@v1
        with:
          creds: ${{secrets.AZURE_CREDENTIALS}}
      - name: login ACR
        run: az acr login --name ${{secrets.ACR_NAME}}
      - name: build and push image
        run: |
          IMAGE_NAME=${{secrets.ACR_NAME}}.azurecr.io/java:${{github.sha}}
          docker build -t $IMAGE_NAME .
          docker push $IMAGE_NAME
      - name: deploy to webapp
        uses: azure/webapps-deploy@v2
        with:
            app-name: ${{secrets.AZURE_WEBAPP_NAME}}
            images: ${{secrets.ACR_NAME}}.azurecr.io/java:${{github.sha}}
