name: Java CI/CD with Terraform (Azure)
on:
  push:
    branches: [ "main" ]


jobs:
  build:
   runs-on: ubuntu-latest
   steps:
      - name: checkout the code
        uses: actions/checkout@v3
      - name: setup java
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: build the code.
        run: mvn clean package -f MyWebApp/pom.xml
      - name: check jar file
        run: |
              cd MyWebApp
              ls target/
      
      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
            name: java-app
            path: '${{github.workspace}}'


  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
       - name: Download Artifact
         uses: actions/download-artifact@v4
         with:
          name: java-app
    
    
       - name: Azure Login
         uses: azure/login@v2
         with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
        
       - name: Setup Terraform
         uses: hashicorp/setup-terraform@v3
         with:
            terraform_version: 1.6.6 
       - name: Set Terraform Azure Auth
         run: |
            echo "ARM_CLIENT_ID=${{ fromJson(secrets.AZURE_CREDENTIALS).clientId }}" >> $GITHUB_ENV
            echo "ARM_CLIENT_SECRET=${{ fromJson(secrets.AZURE_CREDENTIALS).clientSecret }}" >> $GITHUB_ENV
            echo "ARM_SUBSCRIPTION_ID=${{ fromJson(secrets.AZURE_CREDENTIALS).subscriptionId }}" >> $GITHUB_ENV
            echo "ARM_TENANT_ID=${{ fromJson(secrets.AZURE_CREDENTIALS).tenantId }}" >> $GITHUB_ENV
            
       - name: Terraform Init
         working-directory: terraform
         run: terraform init
        
        
       - name: Terraform Apply
         working-directory: terraform
         run: terraform apply -auto-approve
        
        
       - name: Deploy to Azure App Service
         uses: azure/webapps-deploy@v3
         with:
          app-name: ${{ secrets.AZURE_APP_NAME }}
          package: '*.war'
